body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.movie-grid-wrapper {
	display: grid;
	grid-template-columns: (4, 1fr);
}

.movie-card {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 30%;
	margin: auto;
	justify-content: space-around;
}
